@using Course.Core.Models
@model DataAccess.Entities.Category

@{
    ViewData["Title"] = "Category";

    Layout = "~/Views/Shared/_Layout.cshtml";
    string path = Url.Content("~/Category/");

    var DataCat = (getCategoryDTRes)ViewBag.DataCat;
}

<div id="main">
    <div class="inner">
        <header>
            <h1 class="text-center">
                @ViewData["Title"]
            </h1>
        </header><div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
        @foreach (var n in DataCat.data)
        {
                    <a asp-controller="Furniture" asp-action="Product" asp-route-id="@n.Id">
                    <div class="thumbnail">
                            <img src=@path@n.Image alt="Image" class="img-fluid" style='width:60px'> 
                            <div class="pt-3">
                                <h5>@n.Name</h5>
                            </div>
                        </div>
                    </a>
        }
            </div>
        </div>
    </div>
</div>